body {
  margin: 0;
  padding: 0;
  background-color: #fff; 
  font-family: 'Jaldi', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.hide {
  display: none;
}

.app__header {
  padding: 20px 0;
  text-align: center;
}

.app__title {
  font-size: 2.5rem;
}

.app__logo {
  max-width: 240px;
}

.app__info a {
  color: #CC8B86;
  border: 1px solid #CC8B86;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px; 
}
.app__info a:hover,
.app__info a:visited,
.app__info a:focus,
.app__info a:focus-within,
.app__info a:active {
  color: #fff;
  background-color: #CC8B86;
}

.app__hours {
  color: #888;
  border-radius: 5px;
  text-decoration: none;
  max-width: 320px;
  margin: 10px auto 0;
}

.app__hours strong {
  padding-right: 4px;
}

.app__hours li {
  margin-bottom: 4px;
}

.app__content {
  padding-bottom: 40px;
}