.menu-category__name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 1.8rem;
  color: #9A7626;
}

.menu-category__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu-category__list-item {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
}
