.contact {
  max-width:960px;
  margin: 0 auto;
}

.contact__info {
  margin-top: 40px;
  padding: 2px;
}

.contact__phone,
.contact__address {
  margin-top: 20px;
}

.contact__phone p,
.contact__address p {
  margin-bottom: 8px;
}

@media screen and (min-width: 616px) {
  .contact__info {
    padding: 4px;
  }
}
