.food-menu {
  padding:8px;
}

.food-menu__filters {
  margin-top: 20px; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.food-menu__categories-control,
.food-menu__description-control,
.food-menu__keyword-filter,
.food-menu__count {
  box-sizing: border-box; 
  padding: 10px 2px;
  width: 100%;
}

@media screen and (min-width: 420px) {
  .food-menu__categories-control,
  .food-menu__description-control {
    width: 50%;
    max-width: 240px;
  }
}

@media screen and (min-width: 616px) {
  .food-menu__filters {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1216px) {
  .food-menu__filters {
    max-width: 1200px;
  }
  
  .food-menu__keyword-filter {
    max-width: 600px;
    padding:8px;
  }
}
