.food-menu {
  max-width: 640px;
  margin: 0 auto;
}

.food-menu__title {
  text-align: center;
  font-size: 2rem;
  color: #9A7626;
  margin-top: 20px;
}

.food-menu__filters {
  padding:8px;
}

.filters__row-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.filters__keyword-filter,
.filters__category-filter,
.filters__description-toggle,
.filters__status {
  box-sizing: border-box; 
  padding: 10px 2px;
  width: 100%;
}

.filters__keyword-filter form {
  border: 1px solid #ccc;
}

.filters__category-filter select {
  border: 1px solid #ccc;
  box-shadow: none;
}

.food-menu__content {
  padding: 8px;
} 

@media screen and (min-width: 560px) {
  .filters__category-filter {
    flex: 1 1 40%;
  }
  .filters__description-toggle {
    flex: 1 1 30%;
  }
  .filters__status {
    flex: 1 1 30%;
  }
}
