.hours {
  max-width:960px;
  margin: 0 auto;
}

.hours__info {
  margin-top: 40px;
  padding: 2px;
}

.hours li {
  margin-bottom: 8px;
}

@media screen and (min-width: 616px) {
  .hours__info {
    padding: 4px;
  }
}
