.page-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #9A7626;
  margin-top: 40px;
}

.tile-title {
  color: #9A7626;
  margin-bottom: 8px; 
}


@media screen and (min-width: 768px) {
  .page-title {
    display: none;
  }
  .bx--tabs__nav {
    justify-content: center;
  }
  .bx--tabs__nav-link {
    font-size: 1.5rem;
  }  
}

